@import "tailwindcss";

header ul li {
  @apply px-2;
}

body {
  font-family: "Poppins_7df6af, __Poppins_Fallback_7df6af";
  font-weight: 500;
  background: #edf9fe;
}

.bg-primary {
  background: #edf9fe;
}
.text-main {
  color: #040033;
}
.desktop a:hover {
  background: #aee7e2;
}
.desktop a {
  @apply px-5 py-4;
  font-size: 17px;
  letter-spacing: 1px;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: dashed;
}

.bg-secondary {
  background: #edf9fe;
}

.mobile-nav {
  @apply fixed  top-20 bg-[#edf9fe] z-50 w-1/2 h-full;
}
.mobile-nav li {
  @apply p-5 border-b-2 border-[#e2eceb];
}
.mobile-nav a {
  @apply py-5 p-36;
  padding-inline: 1.8rem;
}
.mobile-nav a:hover {
  background: #c1f0ed;
  transition: 0.2s;
}
.mobile-nav li:hover {
  background: #c1f0ed;
  transition: 0.2s;
}

.font-head {
  font-size: 25px;
  background-image: linear-gradient(
    90deg,
    rgb(211, 126, 5) 100%,
    rgba(194, 189, 35, 1) 20%,
    rgba(253, 29, 29, 1) 82%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/** Text Gradient Example */
.text-gradient {
  color: #c459ec;
  background-image: linear-gradient(45deg, #c459ec, #b65668 50%, #561bc7 100%);
}

.bordergradiant {
  border-top-color: rgb(226, 158, 10);
  border-bottom-color: rgb(210, 158, 15);
  border-left-color: rgb(174, 255, 0);
  border-right-color: rgb(255, 183, 0);
}
.glow {
  /* border-color: rgb(81, 255, 0);s */
  box-shadow: 0px 0px 9px 2px rgb(206, 255, 58);
}

.shadows {
  background-color: #ecf2f1;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.shadows:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
html {
  scroll-behavior: smooth;
}
