@import "tailwindcss";

header ul li {
  @apply px-2;
}

body {
  font-family: "Poppins_7df6af, __Poppins_Fallback_7df6af";
  font-weight: 500;
  background: #edf9fe;
  /*  */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.bg-primary {
  background: #edf9fe;
}
.text-main {
  color: #040033;
}
.desktop a:hover {
  background: #aee7e2;
}
.desktop a {
  @apply px-5 py-4;
  font-size: 17px;
  letter-spacing: 1px;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: dashed;
}

.bg-secondary {
  background: #edf9fe;
}

.mobile-nav {
  @apply fixed  top-20 bg-[#edf9fe] z-50 w-1/2 h-full;
}
.mobile-nav li {
  @apply p-5 border-b-2 border-[#e2eceb];
}
.mobile-nav a {
  @apply py-5 p-36;
  padding-inline: 1.8rem;
}
.mobile-nav a:hover {
  background: #c1f0ed;
  transition: 0.2s;
}
.mobile-nav li:hover {
  background: #c1f0ed;
  transition: 0.2s;
}

.font-head {
  font-size: 25px;
  background-image: linear-gradient(to right, #ce491c 0%, #e68c17 100%);
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.borderstyle {
  background-image: linear-gradient(to right, #ce491c 0%, #e6b617 100%);
  box-sizing: border-box;
  color: #040033;
  display: block;
  letter-spacing: 1px;
  padding: 3px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  z-index: 2;
}

.borderstyle:hover {
  color: #fff;
}

.borderstyle span {
  align-items: center;
  background: #e7e8e9;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.borderstyle:hover span {
  background: transparent;
}

.shadows {
  border-radius: 12px;
  border-color: #d2d2d2;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  transition: all 0.3s ease-in-out;
}
.shadows:hover {
  box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.01);
}

html {
  scroll-behavior: smooth;
}
